/* Default CSS */

* {
    margin: 0; /* Remove the default margin for all elements */
    padding: 0;  /* Remove the default padding for all elements */
    box-sizing: border-box; /* The box-sizing property allows us to include the padding and border in an element's total width and height. */
}

html {
    font-family: Montserrat;
}

a {
    text-decoration: none;
    color: var(--light-text-color, #FFF);
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 45px;
    gap: 60px;
}


/* Reusable CSS */

.button {
    display: flex;
    padding: 10px 36px;
    align-items: center;
    gap: 10px;

    border-radius: 37px;
    border: 1px solid var(--primary-color, #23A6F0);
}

.button-square {
    border-radius: 5px;
}

.button-primary {
    background: var(--primary-color, #23A6F0);

    color: var(--light-text-color, #FFF);
    text-align: center;
    /* btn-text */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.2px;
}

.button-transparent {
    background: transparent;
    color: var(--primary-color, #23A6F0);
    text-align: center;
    /* btn-text */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.2px;
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.title {
    width: 302px;
    color: var(--light-text-color, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px; /* 142.5% */
    letter-spacing: 0.2px;
}

@media (min-width: 820px) {
    .title {
        width: 70%;
    }
}   

.subtitle {
    color: var(--light-text-color, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}

/* Header  */

.logo {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.1px;
}

.desktop-header {
    display: none;
    position: absolute;
    width: 100%;
    padding-top: 30px;
    
    background-color: transparent;
    color: var(--light-text-color, #FFF);
}

.desktop-navigation {
    display: flex;
    align-items: center;
    gap: 70px; 
}

.desktop-actions {
    display: flex;
    align-items: center;
    gap: 70px;
}

.mobile-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 35px;

    color: var(--light-text-color, #FFF);
    background: var(--dark-background-color, #252B42);
}

.mobile-actions {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.mobile-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 96px;
    align-items: center;

    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 150% */
    letter-spacing: 0.2px;
}

@media (min-width: 820px) {
    .desktop-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .mobile-header {
        display: none;
    }
}   

.mobile-header-top {
    display: flex;
    justify-content: space-between;
}

.mobile-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop-list {
    display: flex;
    gap: 36px;
    list-style: none;
}

/* Home */

.home {
    gap: 40px;

    background-image: linear-gradient(90deg, #000 0.13%, #000 0.14%, rgba(0, 0, 0, 0.00) 99.56%), url("./assets/hero-cover.jpeg");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;

    padding: 50px;
}

.home-title {
    color: var(--light-text-color, #FFF);
    text-align: center;

    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px; /* 142.5% */
    letter-spacing: 0.2px;
}

.home-subtitle {
    color: var(--light-text-color, #FFF);
    text-align: center;
    
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    letter-spacing: 0.2px;
}

.home-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

/* Differences */

.differences {
    gap: 100px;
    background: var(--dark-background-color, #252B42);
}

.difference {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;

    color: var(--light-text-color, #FFF);
}


.difference-title {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
}

.difference-subtitle {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}

@media (min-width: 820px) {
    .differences {
        flex-direction: row;
        min-height: 50vh;
    }
}   

/* Ratings */

.ratings {
    display: flex;
    flex-direction: column;
    gap: 60px;

    background: #8EC2F2;
}

.ratings-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;}

.rate {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px 30px;

    max-width: 500px;
}

.photo {
    display: none;
    position: absolute;

    width: 72px;
    height: 72px;
    border-radius: 72px;
    flex-shrink: 0;

    left: -55px;
}   

@media (min-width: 820px) {
    .photo {
        display: block;
    }   

    .ratings-cards {
        flex-direction: row;
        gap: 137px;
    }
}   

/* Projects */

.projects {
    background: var(--dark-background-color, #252B42);
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 452px;
    max-width: 331px;

    padding: 31px 27px;
}

.project-img {
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

.project-img1 {
    background-image: linear-gradient(90deg, #000 0.13%, #000 0.14%, rgba(0, 0, 0, 0.00) 99.56%), url("./assets/post_1.jpeg");
}

.project-img2 {
    background-image: linear-gradient(90deg, #000 0.13%, #000 0.14%, rgba(0, 0, 0, 0.00) 99.56%), url("./assets/post_2.jpeg");
}

.project-img3 {
    background-image: linear-gradient(90deg, #000 0.13%, #000 0.14%, rgba(0, 0, 0, 0.00) 99.56%), url("./assets/post_3.jpeg");
}

.project-img4 {
    background-image: linear-gradient(90deg, #000 0.13%, #000 0.14%, rgba(0, 0, 0, 0.00) 99.56%), url("./assets/post_4.jpeg");
}

.project-type {
    color: var(--light-text-color, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
}

.project-title {
    color: var(--light-text-color, #FFF);
    text-shadow: 0px 13px 19px rgba(0, 0, 0, 0.24);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.1px;
}

@media (min-width: 820px) {
    .projects-container {
        flex-direction: row;
        gap: 21px;
    }
}   


/* Pricing */

.pricing {
    background: var(--dark-background-color, #252B42);
}

.price-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
}

.price-desc {
    display: flex;
    align-items: center;
    gap: 10px
}

.price-check {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 10px 8px 11px 8px;
    justify-content: center;
    align-items: center;    

    border-radius: 200px;
    background: var(--success-color, #2DC071);
}

/* Contact */

.contact {
    align-items: flex-start;
    background-image: url("./assets/contact-cover.jpeg");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

.contact-subtitle {
    color: var(--text-color, #252B42);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
}

.contact-title {
    color: var(--text-color, #252B42);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 57px; /* 142.5% */
    letter-spacing: 0.2px;
}


.input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 100%;
}

@media (min-width: 820px) {
    .form {
        width: 50%;
    }

    .input-container {
        flex-direction: row;
    }
}  

/* Agency */

.agency {
    min-height: 30vh;
    align-items: flex-start;
    gap: 50px;
}

.agency-title {
    color: var(--dark-background-color, #252B42);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.1px;
}

.agency-subtitle {
    color: var(--dark-background-color, #252B42);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}

@media (min-width: 820px) {
    .agency {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}  


/* Footer */

.footer-top {
    display: flex;
    flex-direction: column;

    padding: 50px;
    gap: 30px;

    color: var(--light-text-color, #FFF);
    background: var(--dark-background-color, #252B42);
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
}

.footer-routes {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.footer-subtitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;

    color: var(--light-text-color, #FFF);
    background: var(--dark-background-color, #252B42);
}

.made-by {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
}

.socials {
    display: flex;
    gap: 20px;
}


@media (min-width: 820px) {
    .footer-top {
      flex-direction: row;
      justify-content: space-evenly;
    }

    .footer-bottom {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 50px;

        color: var(--second-text-color, #737373);
        background: #FAFAFA;
    }
}   